<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211690327785-0pqdodihhqikjgu3o3qtehriphfije17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211690327785-0pqdodihhqikjgu3o3qtehriphfije17</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>211690327785-6qbfjsg0liu4md22ivn3l9rq8g4e3s65.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAqjH1Zg6_abTu9nUOL6KehqY3DBU-vIJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>211690327785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.odigan</string>
	<key>PROJECT_ID</key>
	<string>odigan-d3cf8</string>
	<key>STORAGE_BUCKET</key>
	<string>odigan-d3cf8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211690327785:ios:7d915efd140351fb38ea78</string>
</dict>
</plist>